<div class="main">
<div class="full_screen">
	<table class="server_nav">
		<tbody>
			<tr>
				<td><a href="/contacts"><i class="fa fa-phone-square"></i>Контакты</a></td>
				<td><a class="active" href="/agreement"><i class="fa fa-pencil-square-o"></i>Договор</a></td>
				<td><a href="/partners"><i class="fa fa-users"></i>Партнеры</a></td>
				<td><a href="/jobs"><i class="fa fa-user-plus"></i>Вакансии</a></td>
			</tr>
		</tbody>
	</table>
</div>
<h1 class="hblock_content">Договор оферты</h1>

<div class="block_content">


<center><h2>Договор оферты</h2></center>
<div class="main">
<br>
<p><center><strong>1. Описание услуг</strong></center></p>
<br>
<p>1.1. Все игровые серверы ,предоставляемые клиентам, являются публичными или приватным и работают в зависимости от тарифного плана, выбранного клиентом при заказе. К серверам предоставляется полноценный виртуальный доступ (панель управления и FTP-доступ). Мы используем операционную систему Debian (Linux), что гарантирует стабильную и бесперебойную работу игровых серверов.</p>
<p>1.2 Все дополнительные услуги, предоставляемые нашей организацией, действуют согласно их описания и входят в общие правила договора.</p>
<p>1.3. Заказывая игровой сервер, клиент принимает пользовательское соглашение, а так же общие правила договора. И несет полную ответственность за свои действия.</p>
<br>
<p><center><strong>2. Пользовательское соглашение</strong></center></p>
<br>
<p>2.1. Клиент осуществляет заказ игрового сервера на странице оформления заказа.</p>
<p>2.2. В форме заказа клиент самостоятельно определяет все доступные параметры игрового сервера и тариф.</p>
<p>2.3. После проверки данных клиент должен выбрать способ оплаты заказа и нажать кнопку «Оплатить заказ».</p>
<p>2.4. Далее клиент оплачивает свой заказ в режиме реального времени, соответствуя условиям выбранного способа платежа.</p>
<p>2.5. Сразу, после зачисления денежных средств на счет исполнителя, сервер в автоматическом режиме создается на аккаунте клиента. Все данные для полного виртуального доступа (панель управления, FTP-доступ) предоставляются в разделе «Список серверов».</p>
<p>2.6. Полный доступ к серверу предоставляется на срок, который был выбран при оплате сервера. После окончания оплаченного срока клиенту будет предложено оплатить продление заказа.</p>
<p>2.7. В случае окончания оплаченного срока и дальнейшей неуплаты - сервер будет заблокирован и полностью удален по истечению недели с момента окончания срока аренды.</p>
<p>2.8. После оплаты своего заказа клиент имеет полное право обращаться за помощью в техническую поддержку, по каким либо вопросам, непосредственно связанным с работоспособностью сервера.</p>
<p>2.9. Сразу после оплаты игрового сервера клиент полностью соглашается со всеми пунктами договора и принимает данное пользовательское соглашение.</p>
<br>
<p><center><strong>3. Форма обращения</strong></center></p>
<br>
<p>3.1. Обращение к администрации и технической поддержке осуществляется на русском языке. Использование транслита и других языков не допускается.</p>
<br>
<br>
<p>При обращение клиент обязан:</p>
<br>
<p>• соблюдать нормы формального общения.</p>
<p>• подробно описать суть проблемы, с указанием адреса сервера.</p>
<p>• указать после каких действий на сервере была обнаружена проблема.</p>
<p>• указать время возникшей проблемы.</p>
<br>
<p>Время работы технической поддержки.</p>
<br>
<br>
<p>Техническая поддержка работает в будние дни с 10-00 до 18-00 по Московскому времени с перерывами на обед.(с 13-00 до 14-00), а так-же в выходные дни с 11-00 до 21-00 (Среднее время ответа до 1 часа, возможны задержки в связи с загруженностью сотрудников). Ответы в ночное время осущестляются по мере наличия сотрудников (В ночное время, среднее время ожидания ответа 3-4 часа). Праздничные дни согласно законодательству РФ - Выходные.</p>
<br>
<p>Запрещается:</p>
<p>• использование нецензурной лексики, брань.</p>
<p>• неуважительное отношение к персоналу сайта или его содержимому.</p>
<p>• требовать, предъявлять требования, по вопросам, нарушающим правила настоящего договора.</p>
<br>
<p>В случае нарушения одного или нескольких правил клиент получает предупреждение в соответствие с пунктом 3.2:</p>

<p>3.2 В случае нарушения пункта правил  3.1. клиент может получить:</p>
<p>3.2.1. Устное предупреждение или отказ от технической поддержки за неуважительное отношение к персоналу сайта.</p>
<p>3.2.2. Блокировку аккаунта сроком на 1 сутки за повторное нарушения п.п.3.1.</p>
<p>3.2.3. Блокировку аккаунта сроком на 2-е суток и более, без возможности возврата неиспользованных средств за неоднократные нарушения и оскорбления администрации сайта.</p>
<br>
<p><center><strong>4. Допустимая нагрузка</strong></center></p>
<br>
<p>4.1. У каждого сервера существует лимит нагрузки на ядро системы (% cpu) и ОЗУ (% mem). Допустимое значение нагрузки распределяется по тарифам.</p>
<p>4.2. Kлиент в праве сам выбирать какой тариф ему больше подходит, однако обязан придерживаться допустимым нормам нагрузки на ядро (п.п. 4.1).</p>
<p>4.3. Все вопросы, связанные с нагрузкой и блокировкой серверов, решаются через центр поддержки путем переговоров исполнителя с клиентом.</p>
<br>
<p><center><strong>5. Отказ от предоставленных услуг</strong></center></p>
<br>
<p>5.1. При нарушении правил и взлома сервера (увеличение слотов, увеличение денежных средств и.т.д) клиенту будет предоставлено устное предупреждение с отключением сервера до востребование клиентам. Дальнейшее не подчинение отключается сервера без возврата средств.</p>
<p>5.2. В случае отказа от предоставленных Клиенту услуг аренды игрового сервера, возврат неиспользованных средств осуществляется только при наличии объективных причин, по которым Клиент отказывается пользоваться уже оказанными ему услугами.</p>
<p>5.3. Сумма выплаты зависит от количества неиспользованных дней аренды. Выплата производятся на банковскую карту Клиента.</p>
<p>5.4. Возврат неиспользованных средств производится по заявке клиента, направленной через сайт в техническую поддержку, после чего заявка рассматривается администрацией сроком до 3х рабочий дней и выносится решение о выплате средств.</p>
<p>5.5. Возврат средств, за уже оказанные услуги, не производится.</p>
<p>5.6. Администрация имеет полное право отказать в возврате денежных средств, ввиду не объективных причин клиента (см. 5.1, 5.2. пункт правил).</p>
<div class="space"></div>
</div>
</div>
</div>