|auth|<div class="main">
            <div class="full_screen">
	
</div>

<h1 class="hblock_content">Описание:</h1>

<div class="block_content">
<p>
<blockquote>
Большинство наших клиентов работают с хостингом через панель управления. Нашим клиентам, которым требуется автоматизировать работу с хостингом без входа в панель управления, мы можем предложить API.
<br>
<br>
С его помощью можно делать все тоже самое, что и через панель — создавать и удалять сервера, обновлять, запускать и останавливать, перезагружать и переустанавливать, а так же менять карту на сервере.
</blockquote>
</p>
</div>

<div class="space"></div>



<h1 class="hblock_content">Примеры использования:</h1>

<div class="block_content">
<p>
<blockquote>
[home]api/key/_ключ_/action/start<br>
[home]api/key/_ключ_/action/restart<br>
[home]api/key/_ключ_/action/stop<br>
[home]api/key/_ключ_/action/reinstall<br>
[home]api/key/_ключ_/action/update<br>
[home]api/key/_ключ_/action/change<br>
[home]api/key/_ключ_/action/change/change/de_dust2<br>
[home]api/key/_ключ_/action/console<br>
[home]api/key/_ключ_/action/console/command/status<br>
[home]api/key/_ключ_/action/load<br>
[home]api/key/_ключ_/action/data<br>
</blockquote>
</p>
</div>

<div class="space"></div>

<h2 class="hblock_content">Команды:</h2>
<div class="block_content">
<p>
<blockquote>
start — Запустить сервер<br>
restart — Перезапустить сервер<br>
stop — Выключить сервер<br>
reinstall — Переустановить<br>
update — Обновить сервер<br>
change — Получить список карт<br>
change/change/_карта_ — Сменить карту<br>
console — Логи консоли<br>
console/command/_команда_ — Отправить команду в консоль<br>
load — Получить данные о нагрузке<br>
data — Получить информацию о сервере<br>
</blockquote>
</p>
</div>

<div class="space"></div>

<h2 class="hblock_content">Описание полученных строк:</h2>

<div class="block_content">
<p>
<blockquote>
id — ID сервера в панели управление<br>
address — Адрес сервера (IP:PORT)<br>
unit — Локация сервера<br>
tarif — Тариф сервера<br>
game — Игра<br>
name — Название сервера (hostname)<br>
slots — Игровых слотов<br>
online — Игроков онлайн<br>
players — Вывод игроков сервера<br>
status — Статус сервера (Если сервер включён выводит название карты)<br>
img — Картинка карты (Если сервер включён)<br>
time_end — Кол-во оставшихся дней<br>
time — Дата окончание аренды<br>
date — Дата создания<br>
pack — Сборка/Build сервера<br>
</blockquote>
</p>
</div>
</div>|_auth|

|!auth|
<h4 class="hblock_content">API интерфейс</h4>
<div class="block_content">
	<p><center>Для просмотра этой страницы, вам необходимо <a href="[home]user/section/auth" style="color: green;"><u>авторизоваться</u></a>.</center></p>
</div>
|_!auth|