<script type="text/javascript">
function addEvent(fn) {
  window.addEventListener('load', fn);
}

function hex2bin( s ) {
  return decodeURIComponent(s.replace(/../g, '%$&'));
}

function getNthTextNode(el) {
  for (let i = 0; i < el.childNodes.length; i++) {
    let node = el.childNodes[i];

    if (node.nodeName === '#text') {
      return node;
    }
  }
}

addEvent(function() {
  let mailHref = document.getElementById('mailHref');
  let mailHrefText = getNthTextNode(mailHref);
  mailHref.setAttribute('href', hex2bin(mailHref.getAttribute('href-data')));
  if (mailHrefText) {
    mailHrefText.nodeValue = hex2bin(mailHrefText.nodeValue);
  }
});
</script>
<div class="main">
<div class="full_screen">
	<table class="server_nav">
		<tbody>
			<tr>
				<td><a class="active"  href="/contacts"><i class="fa fa-phone-square"></i>Контакты</a></td>
				<td><a href="/agreement"><i class="fa fa-pencil-square-o"></i>Договор</a></td>
				<td><a href="/partners"><i class="fa fa-users"></i>Партнеры</a></td>
				<td><a href="/jobs"><i class="fa fa-user-plus"></i>Вакансии</a></td>
			</tr>
		</tbody>
	</table>
</div>

<h1 class="hblock_content">Контактная информация</h1>

<div class="block_content">
	<p>Адрес: 107564, Москва, Краснобогатырская улица, 2с1</p>
	<br>
	<p><center><img src="[img]maps.png" style="border: 2px dashed #dcdcdc;"></center></p>	
	<br>
	<p> E-mail: <a title="напишите нам письмо" id="mailHref" href-data="6d61696c746f3a696e666f40656e67696e6567702e7275">696e666f40656e67696e6567702e7275</a></p>
	<p> Тел.: <a href="tel:+7(495)0010203">+7(495)0010203</a></p>
</div>

<div class="space"></div>

<h2 class="hblock_content">Мы в социальных сетях</h2>
<div class="block_content">
	<p>Телеграм канал:  <a href="#" target="blank">@tg_channel</a></p>
<div class="space"></div>
<div class="informer red">Обратите пожалуйста внимание что, 13 апреля 2018 года Таганский суд Москвы вынес решение в пользу Роскомнадзора, тем самым позволив начать блокировку мессенджера на территории Российской Федерации.</p>
</div>
<div class="space"></div>
<p>Вконтакте:  <a href="#" target="blank">@vk_group_id</a></p>
<p>WhatsApp:  <a href="#" target="blank">@phone_number</a></p>
<p>Viber:  <a href="#" target="blank">@phone_number</a></p>
<p>YouTube:  <a href="#" target="blank">@channel_name</a></p>
</div>

<div class="space"></div>

<h2 class="hblock_content">Техническая поддержка</h2>

<div class="block_content">
	<p> Время работы: Круглосуточно</p>
	<br>
<p> Техническая поддержка осуществляется только через <a href="/help/section/create"><u>тикет систему</u></a> в панели управления. Перед созданием нового тикета рекомендуем заглянуть в нашу <a href="/wiki"><u>базу знаний</u></a>, где Вы сможете найти ответы на большинство ваших вопросов</p>
<div class="space"></div>
</div>
        </div>
