<h1 class="hblock_content">Аренда игровых серверов</h1>

<div class="service">
    <div class="line"></div>
    <span class="title">Counter-Strike: 1.6</span>
    <img src="[img]services/cs.png" width="180">
    <a href="[home]services/section/cs">Заказать</a>
</div>

<div class="service">
    <div class="line"></div>
    <span class="title">Counter-Strike: 2</span>
    <img src="[img]services/cs2.png" width="180">
    <a href="[home]services/section/cs2">Заказать</a>
</div>

<div class="service">
    <div class="line"></div>
    <span class="title">Counter-Strike: Source</span>
    <img src="[img]services/css.png" width="180">
    <a href="[home]services/section/css">Заказать</a>
</div>

<div class="service">
    <div class="line"></div>
    <span class="title">RUST</span>
    <img src="[img]services/rust.png" width="180">
    <a href="[home]services/section/rust">Заказать</a>
</div>

<div class="space"></div>

<h2 class="hblock_content">Последние новости</h2>

[news]