<div class="main">
<div class="full_screen">
	<table class="server_nav">
		<tbody>
			<tr>
				<td><a href="/contacts"><i class="fa fa-phone-square"></i>Контакты</a></td>
				<td><a href="/agreement"><i class="fa fa-pencil-square-o"></i>Договор</a></td>
				<td><a class="active" href="/partners"><i class="fa fa-users"></i>Партнеры</a></td>
				<td><a href="/jobs"><i class="fa fa-user-plus"></i>Вакансии</a></td>
			</tr>
		</tbody>
	</table>
</div>

<h1 class="hblock_content">Список партнеров</h1>

<div class="block_content">
<div style="display: block; padding-right: 10px;">
<div class="space"></div>
                <ul class="partnerList">
                    <li>
                        <a href="//qiwi.ru" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/qiwi.jpg" alt="Fiord">
                            <p>Qiwi</p>
                        </a>
                    </li>
                    <li>
                        <a href="//webmoney.ru" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/webmoney.jpg" alt="Webmoney">
                            <p>Webmoney</p>
                        </a>
                    </li>
                    <li>
                        <a href="//money.yandex.ru" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/yandex.jpg" alt="Yandex Money">
                            <p>Yandex Money</p>
                        </a>
                    </li>
                    <li>
                        <a href="//paypal.com" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/paypal.jpg" alt="PayPal">
                            <p>Paypal</p>
                        </a>
                    </li>
                    <li>
                      <a href="//unitpay.ru" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/unitpay.jpg" alt="UnitPay">
                            <p>Unitpay</p>
                        </a>
                   </li>
                </ul>
                <ul class="partnerList">
                    <li>
                        <a href="//intel.com" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/intel.png" alt="INTEL">
                            <p>INTEL</p>
                        </a>
                    </li>
                    <li>
                        <a href="//amd.com" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/amd.png" alt="AMD">
                            <p>AMD</p>
                        </a>
                    </li>
		   <li>
                        <a href="//ispsystem.ru" rel="nofollow" target="_blank">
                           <img src="/template/images/partners/ispsystem.jpg" alt="ISPSystem">
                            <p>ISPSystem</p>
                        </a>
                    </li>
                    <li>
                        <a href="//hp.com" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/hp.png" alt="HP">
                            <p>HP</p>
                        </a>
                    </li>
                    <li>
                        <a href="//supermicro.com" rel="nofollow" target="_blank">
                            <img src="/template/images/partners/supermicro.jpg" alt="Supermicro">
                            <p>Supermicro</p>
                        </a>
                    </li>
                </ul>
              </div>
</div>
<div class="space"></div>
<div class="informer blue"><center>Если вы хотите сотрудничать с нами в качестве партнера, пожалуйста, <a href="/help/section/create"><u>оставьте</u></a> нам свою заявку.</center></div>
</div>