<div class="full_screen">
	<table class="server_nav">
		<tbody>
			<tr>
				<td><a |index|class="active"|_index| href="[home]user/section/lk"><i class="fa fa-user"></i>Профиль</a></td>
				<td><a |settings|class="active"|_settings| href="[home]user/section/lk/subsection/settings"><i class="fa fa-cog"></i>Настройки</a></td>
				<td><a |auth|class="active"|_auth| href="[home]user/section/lk/subsection/auth"><i class="fa fa-sign-in"></i>Авторизации</a></td>
				<td><a |logs|class="active"|_logs| href="[home]user/section/lk/subsection/logs"><i class="fa fa-list-alt"></i>Операции</a></td>
				<td><a |security|class="active"|_security| href="[home]user/section/lk/subsection/security"><i class="fa fa-lock"></i>Безопасность</a></td>
			</tr>
		</tbody>
	</table>
</div>
