<h4 class="hblock_content">Форма пополнения баланса</h4>

<div class="block_content">
    <form onsubmit="return replenish(false);" method="POST">
        <table class="table_pad input_pad">
            <tbody>
            <tr>
                <td colspan="7">
                    <div class="informer blue">
                        Вы будете перенаправлены на платежный шлюз для проведения операции пополнения
                    </div>
                </td>
            </tr>
            <tr>
                <td class="col-16">Ваш текущий баланс:</td>
                <td class="col-15 text-left"><b>[balance] [cur]</b></td>
                <td class="col-5 text-right">Сумма:</td>
                <td>
                    <input id="sum" type="number" min="1" max="1000000" placeholder="Введите необходимую сумму" value="500" class="text-right" required>
                </td>
                <td class="col-5">[cur]</td>
                <td class="col-20">
                    <select id="payment-method" class="form-control" required>
                        <option value="unitpay">UnitPay</option>
                        <option value="webmoney">WebMoney</option>
                        <option value="freekassa">FreeKassa</option>
                        <option value="yookassa">YooKassa</option>
                    </select>
                </td>
                <td class="col-10">
                    <button type="submit" class="btn btn-full btn-success">Пополнить</button>
                </td>
            </tr>
            </tbody>
        </table>

        <input type="hidden" name="LMI_PAYMENT_NO" value="1">
        <input type="hidden" name="LMI_PAYMENT_AMOUNT" id="amount">
        <input type="hidden" name="LMI_PAYMENT_DESC_BASE64" value="0J/QvtC/0L7Qu9C90LXQvdC40LUg0YHRh9C10YLQsA==">
        <input type="hidden" name="LMI_PAYEE_PURSE" value="[wmr]">
        <input type="hidden" name="us_user" value="[id]">
    </form>

    <div class="space"></div>

    <table class="table_pad">
        <tbody>
        <tr>
            <td class="text-center"><img src="[img]replenish/visa.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/mastercard.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/webmoney.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/qiwi.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/yandex.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/mobile.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/megafon.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/beeline.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/mts.jpg" width="80" class="box-shadow"></td>
            <td class="text-center"><img src="[img]replenish/liqpay.jpg" width="80" class="box-shadow"></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="space"></div>

<h4 class="hblock_content">Логи последних пополнений</h4>

<div class="block_content">
    <table class="table_pad">
        <tbody>
        [logs]
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function replenish(free) {
        const sum = document.getElementById('sum').value;
        const paymentMethod = document.getElementById('payment-method').value;

        if (sum < 1) {
            bootbox.dialog('Необходимо указать сумму', [{
                label: "OK",
                className: "btn-small btn-primary",
            }]);
        } else {
            switch(paymentMethod) {
                case 'unitpay':
                    location.href = `https://unitpay.ru/pay/?sum=${sum}&account=[id]&desc=Пополнение+счета`;
                    break;
                case 'webmoney':
                    const form = document.createElement('form');
                    form.action = 'https://merchant.webmoney.ru/lmi/payment.asp';
                    form.method = 'POST';

                    const inputs = [
                        {name: 'LMI_PAYMENT_NO', value: '1'},
                        {name: 'LMI_PAYMENT_AMOUNT', value: sum},
                        {name: 'LMI_PAYMENT_DESC_BASE64', value: '0J/QvtC/0L7Qu9C90LXQvdC40LUg0YHRh9C10YLQsA=='},
                        {name: 'LMI_PAYEE_PURSE', value: '[wmr]'},
                        {name: 'us_user', value: '[id]'}
                    ];

                    inputs.forEach(({name, value}) => {
                        const input = document.createElement('input');
                        input.type = 'hidden';
                        input.name = name;
                        input.value = value;
                        form.appendChild(input);
                    });

                    document.body.appendChild(form);
                    form.submit();
                    break;
                case 'freekassa':
                    fetch(`${home}user/section/replenish/key/get/sum/${sum}`)
                        .then(response => response.text())
                        .then(data => {
                            location.href = `http://www.free-kassa.ru/merchant/cash.php?m=[freekassa]&o=1&us_user=[id]&lang=ru&pay=Пополнение счета&oa=${sum}&s=${data}`;
                        });
                    break;
                case 'yookassa':
                    // Получаем ссылку на платежный шлюз
                    const url = `${home}Yookassa?user=[id]&amount=${sum}`;
                    fetch(url)
                        .then(response => response.json())
                        .then(data => {
                            if (data.payLink) {
                                location.href = data.payLink;
                            } else {
                                bootbox.dialog('Ошибка платёжной системы', [{
                                    label: "OK",
                                    className: "btn-small btn-primary",
                                }]);
                            }
                        });
                    break;
                default:
                    bootbox.dialog('Выберите платёжную систему', [{
                        label: "OK",
                        className: "btn-small btn-primary",
                    }]);
                    break;
            }
        }

        return false;
    }
</script>

<style>
    .col-16 { width: 16%; }
    .col-15 { width: 15%; }
    .col-5 { width: 5%; }
    .col-20 { width: 20%; }
    .col-10 { width: 10%; }
    .text-left { text-align: left; }
    .text-right { text-align: right; }
    .text-center { text-align: center; }
</style>