<div class="mini_screen">
	<div class="title">Личный кабинет</div>
	<ul>
		<li><a |index|class="active"|_index| href="[home]user/section/lk"><i class="fa fa-user"></i> Профиль</a></li>
		<li><a |settings|class="active"|_settings| href="[home]user/section/lk/subsection/settings"><i class="fa fa-cog"></i> Настройки</a></li>
		<li><a |auth|class="active"|_auth| href="[home]user/section/lk/subsection/auth"><i class="fa fa-sign-in"></i> Авторизации</a></li>
		<li><a |logs|class="active"|_logs| href="[home]user/section/lk/subsection/logs"><i class="fa fa-list-alt"></i> Операции</a></li>
		<li><a |security|class="active"|_security| href="[home]user/section/lk/subsection/security"><i class="fa fa-lock"></i> Безопасность</a></li>
	</ul>
</div>