<table>
	<tbody>
		<tr>
			<td>Пользователей в базе:</td>
			<td class="text-right">[users] шт.</td>
		</tr>
		<tr>
			<td>Серверов в базе:</td>
			<td class="text-right">[servers] шт.</td>
		</tr>
	</tbody>
</table>

<div class="space"></div>

<div class="informer">Заявки на вывод денежных средств</div>

<table>
	<tbody>
		[cashback]
	</tbody>
</table>

<div class="space"></div>

<div class="informer">Количество слот на серверах</div>

<table class="trh">
	<thead>
		<tr>
			<th>Игра</th>
			<th class="w25p text-center">Серверов</th>
			<th class="w25p text-right">Слот</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Counter-Strike: 1.6</td>
			<td class="text-center">[cs] шт.</td>
			<td class="text-right">[slots_cs] шт.</td>
		</tr>
		<tr>
			<td>Counter-Strike: Source v34</td>
			<td class="text-center">[cssold] шт.</td>
			<td class="text-right">[slots_cssold] шт.</td>
		</tr>
		<tr>
			<td>Counter-Strike: Source</td>
			<td class="text-center">[css] шт.</td>
			<td class="text-right">[slots_css] шт.</td>
		</tr>
		<tr>
			<td>Counter-Strike: Global Offensive</td>
			<td class="text-center">[csgo] шт.</td>
			<td class="text-right">[slots_csgo] шт.</td>
		</tr>
		<tr>
			<td>GTA: SA-MP</td>
			<td class="text-center">[samp] шт.</td>
			<td class="text-right">[slots_samp] шт.</td>
		</tr>
		<tr>
			<td>GTA: CR-MP</td>
			<td class="text-center">[crmp] шт.</td>
			<td class="text-right">[slots_crmp] шт.</td>
		</tr>
		<tr>
			<td>GTA: MTA</td>
			<td class="text-center">[mta] шт.</td>
			<td class="text-right">[slots_mta] шт.</td>
		</tr>
		<tr>
			<td>Minecraft</td>
			<td class="text-center">[mc] шт.</td>
			<td class="text-right">[slots_mc] шт.</td>
		</tr>
	</tbody>
</table>

<div class="space"></div>

<div class="informer">Состояние персонала</div>

<table>
	<thead>
		<tr>
			<th class="w5p"></th>
			<th class="w25p">Имя</th>
			<th class="w15p text-center">Группа</th>
			<th class="w15p text-center">Адрес</th>
			<th class="w15p text-center">Браузер</th>
			<th class="w10 text-center">Состояние</th>
			<th class="w15p text-right">Активность</th>
		</tr>
	</thead>
	<tbody>
		[staff]
	</tbody>
</table>
