<h1 class="hblock_content">Аренда игровых серверов</h1>

<div class="service">
	<div class="line"></div>
	<span class="title">Counter-Strike: 1.6</span>
	<img src="[img]services/cs.png" width="180">
	<a href="[home]services/section/cs">Заказать</a>
</div>

<div class="service">
	<div class="line"></div>
	<span class="title">Counter-Strike: Source v34</span>
	<img src="[img]services/cssold.png" width="180">
	<a href="[home]services/section/cssold">Заказать</a>
</div>

<div class="service">
	<div class="line"></div>
	<span class="title">Counter-Strike: Source</span>
	<img src="[img]services/css.png" width="180">
	<a href="[home]services/section/css">Заказать</a>
</div>

<div class="service">
	<div class="line"></div>
	<span class="title">Counter-Strike: GO</span>
	<img src="[img]services/csgo.png" width="180">
	<a href="[home]services/section/csgo">Заказать</a>
</div>

<div class="service">
	<div class="line"></div>
	<span class="title">GTA: SA-MP</span>
	<img src="[img]services/samp.png" width="180">
	<a href="[home]services/section/samp">Заказать</a>
</div>

<div class="service">
	<div class="line"></div>
	<span class="title">GTA: CR-MP</span>
	<img src="[img]services/crmp.png" width="180">
	<a href="[home]services/section/crmp">Заказать</a>
</div>

<div class="service">
	<div class="line"></div>
	<span class="title">GTA: MTA</span>
	<img src="[img]services/mta.png" width="180">
	<a href="[home]services/section/mta">Заказать</a>
</div>

<div class="service">
	<div class="line"></div>
	<span class="title">MineCraft</span>
	<img src="[img]services/mc.png" width="180">
	<a href="[home]services/section/mc">Заказать</a>
</div>
<div class="space"></div>
<h1 class="hblock_content">Дополнительные услуги</h1>
