<div class="container heading-style-5">
	<h4 class="heading-title">Главная страница</h4>
	<i class="fa fa-angle-down heading-icon"></i>
	<div class="line bg-black"></div>
</div>    

<div class="heading-style-1 container">
	<h4>Ваш IP: [ip]</h4>
	<div class="heading-decoration bg-night-light"></div>
</div>

<div class="heading-style-1 container">
	<a href="[home]quit"><i class="fa fa-sign-out"></i></a>
	<h4>Логин: [login]</h4>
	<div class="heading-block bg-night-light"></div>
	<div class="heading-decoration bg-night-light"></div>
</div>

<div class="heading-style-1 container">
	<a href="[home]replenish"><i class="fa fa-rub"></i></a>
	<h4>Баланс: [balance] [cur]</h4>
	<div class="heading-block bg-teal-light"></div>
	<div class="heading-decoration bg-teal-light"></div>
</div>

<table cellspacing="0" class="table">
	<tbody>
		[logs]
	</tbody>
</table>