<!DOCTYPE html>
<html lang="ru">
	<head>
		<title>EGP Mobile</title>

		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
		<meta name="apple-mobile-web-app-capable" content="yes"/>
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="icon" type="image/png" href="[img]splash/android-chrome-192x192.png" sizes="192x192">
		<link rel="apple-touch-icon" sizes="196x196" href="[img]splash/apple-touch-icon-196x196.png">
		<link rel="apple-touch-icon" sizes="180x180" href="[img]splash/apple-touch-icon-180x180.png">
		<link rel="apple-touch-icon" sizes="152x152" href="[img]splash/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="144x144" href="[img]splash/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="120x120" href="[img]splash/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="114x114" href="[img]splash/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="76x76" href="[img]splash/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="72x72" href="[img]splash/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="60x60" href="[img]splash/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="57x57" href="[img]splash/apple-touch-icon-57x57.png">  
		<link rel="icon" type="image/png" href="[img]splash/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="[img]splash/favicon-32x32.png" sizes="32x32">
		<link rel="icon" type="image/png" href="[img]splash/favicon-16x16.png" sizes="16x16">
		<link rel="shortcut icon" href="[img]splash/favicon.ico" type="image/x-icon" /> 

		<link href="[css]style.css" rel="stylesheet" type="text/css" />
		<link href="[css]framework.css" rel="stylesheet" type="text/css" />
		<link href="[css]font-awesome.css" rel="stylesheet" type="text/css" />
		<link href="[css]animate.css" rel="stylesheet" type="text/css" />
		<link type="text/css" href="[css]bootbox.css" rel="stylesheet" media="screen" />

		<script type="text/javascript" src="[js]jquery.js"></script>
		<script type="text/javascript" src="[js]jqueryui.js"></script>
		<script type="text/javascript" src="[js]framework-plugins.js"></script>
		<script type="text/javascript" src="[js]custom.js"></script>
		<script type="text/javascript" src="[js]form.js"></script>
		<script type="text/javascript" src="[js]bootstrap.js"></script>
		<script type="text/javascript" src="[js]bootbox.js"></script>
	</head>

	<body class="dual-sidebar">
		<div id="preloader">
			<div id="status">
				<div class="preloader-logo"></div>
				<h3 class="center-text">Загрузка</h3>
				<p class="center-text smaller-text">Пожалуйста подождите.</p>
			</div>
		</div>

		<div id="header" class="header">
			<div class="header-elements">
				<a href="index.html" class="header-logo"></a>
				<a href="index.html#" class="header-icon-1 open-right-sidebar"><i class="fa fa-envelope-o"></i></a>
				<a href="index.html#" class="header-icon-2 open-left-sidebar"><i class="fa fa-navicon"></i></a>
				<a href="index.html#" class="header-icon-3 header-menu disabled"><i class="fa fa-star"></i></a>
			</div>
		</div>

		<div class="all-elements">
			<div class="snap-drawers">
				<!-- Правый блок -->
				<div class="snap-drawer snap-drawer-left">
					<div class="sidebar-header-left">
						<a class="sidebar-logo" href="index.html#"></a>
						<a class="close-sidebar" href="index.html#"><i class="fa fa-times"></i></a>
					</div>	  

					<p class="sidebar-divider">Навигация</p>

					<div class="sidebar-menu">
						<a class="menu-item menu-item-active" href="index.html">
							<i class="fa fa-home"></i>
							<em>Главная страница</em>
							<i class="fa fa-circle"></i>
						</a>				
						<a class="menu-item" href="servers.html">
							<i class="fa fa-server"></i>
							<em>Список серверов</em>
							<i class="fa fa-circle"></i>
						</a>				  
						<a class="menu-item" href="index.html">
							<i class="fa fa-question-circle"></i>
							<em>Ответы на вопросы</em>
							<i class="fa fa-circle"></i>
						</a> 
						<a class="menu-item" href="index.html">
							<i class="fa fa-newspaper-o"></i>
							<em>Новости хостинга</em>
							<i class="fa fa-circle"></i>
						</a>			   
						<a class="menu-item" href="index.html">
							<i class="fa fa-weixin"></i>
							<em>Контакты</em>
							<i class="fa fa-circle"></i>
						</a>
					</div>

					<p class="sidebar-footer">Мобильная версия EGPv3</p>
				</div>

				<!-- Левый блок -->
				<div class="snap-drawer snap-drawer-right">
					<div class="sidebar-header-right">
						<a class="sidebar-logo" href="index.html#"></a>
						<a class="close-sidebar" href="index.html#"><i class="fa fa-times"></i></a>
					</div>

					<p class="sidebar-divider">Техническая поддержка</p>

					<div class="sidebar-menu">
						<a class="menu-item" href="index.html#">
							<i class="fa fa-pencil-square"></i>
							<em>Задать вопрос</em>
						</a>
						<a class="menu-item" href="index.html#">
							<i class="fa fa-envelope-open"></i>
							<em>Открытые вопросы</em>
						</a>
						<a class="menu-item" href="index.html#">
							<i class="fa fa-envelope"></i>
							<em>Закрытые вопросы</em>
						</a>
					</div>

					<p class="sidebar-footer">Мобильная версия EGPv3</p>
				</div>

				<div id="content" class="snap-content">
					<div class="content">  
						<div class="header-clear-large"></div>

						[text]

						<div class="decoration"></div>

						<div class="footer">
							<p class="center-text">Copyright 2017. Все права защищены.</p>
						</div>
					</div>
				</div>
			</div>  
			<a href="index.html#" class="back-to-top-badge"><i class="fa fa-caret-up"></i>Back to top</a>
		</div>
	</body>
</html>