<div class="help_msg">
    <div class="help_msg_ava">
        <img src="[ava]">
    </div>
    <div class="help_main">
        <div class="help_main_head">
            <span class="help_sender">
				|me|Я|_me| |!me|[name]|_!me|
				|!me|<a href="/acp/users/id/[userid]" onclick="([id], [userid])">Профиль</a>|_!me| 
                |!me|<a href="#" onclick="chat_msg_del([id], [userid])">(<u>удалить соощение)</u></a>|_!me|
			</span>
            <span class="help_date">[date]</span>
        </div>
        <div class="help_body">
            <span class="help_sprite"></span>
            <div class="help_data">
                <div>[msg]</div>
            </div>
        </div>
    </div>
</div>