<style>
.block_jobs {
    display: block;
    padding: 50px;
    margin: 7px;
    width: 89.54%;
    height: 160px;
    background: #ffffff;
    border-radius: 4px;
}
.block_jobs_name {
    padding: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-top: -30px;
    display: none;
}

.block_job {
    padding: 4px;
    font-size: 16px;
}
.block_jobs__btn {
    position: relative;
    margin-top: 1.3%;
    margin-left: 804px;
    border-radius: 5px;
}
.block_jobs__desc {
    padding: 10px;
    background: #d6d6d640;
    border-radius: 8px;
    height: auto;
   /*overflow-y: scroll;*/
}
</style>

[jobs]
